.venv/
.env
.vscode/
.pytest_cache/
autoresponders.json
autoroles.json
cases.json
commands.json
imute_config.json
jail_config.json
licenses.json
prefixes.json
rmute_config.json
role_backup.json
snipes.json
sticky_data.json
sticky_messages.json
substrings.json
timezones.json
warnings.json